/AreaCirculo.class
/Parentesis.class
/NegativoPositivo.class
/Multiplo.class
/PintarMayorMenor.class
/OrdenarTresNumeros.class
/OrdenarTresNumerosArray.class
/OrdenarTresnumerosVairables.class
/Cifras.class
/CifrasConString.class
/CifrasConString2.class
/CifrasConBucle.class
/Notas.class
/NotaSwitch.class
/Fechas.class
/FechaCorrecta.class
